@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDelay {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes headerAnimation {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes whiteOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-logo {
  animation: fadeInDelay 1s ease 0s 1 normal;
}

.fade-in-illust {
  animation: fadeInDelay 3s ease 0s 1 normal;
}

.header-animation {
  animation: headerAnimation 2s ease 0s 1 normal;
}

.white-out {
  animation: whiteOut 0.4s ease 0s 1 normal;
}

.carousel {
  transition: all 300ms 0s ease;
}

.light {
  transition: all 1s 0s ease;
}
