/*
Rubik
MORE, HOW TO PLAY, DOWNLOAD
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

/*
Roboto + Noto Sans JP(400)
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@400;500&display=swap');

/*
Noto Sans JP(500)
「あそびかた」とゲームタイトルでしか使わない(はず)
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap&text=プレイ画面じゃぱりぱーく・おんらいん公式ブログ');

html {
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  @apply bg-background relative min-h-screen text-white;
}

.gradation {
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, transparent);
}

* {
  /*スクロールバー全体*/
  &::-webkit-scrollbar {
    width: 10px;
  }

  /*スクロールバーの軌道*/
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  scrollbar-color: rgba(199, 208, 217, 0.5) transparent;
  &:hover,
  &:active {
    scrollbar-color: rgba(199, 208, 217, 0.8) transparent;
  }
  scrollbar-width: thin;

  /*スクロールバーの動く部分*/
  &::-webkit-scrollbar-thumb {
    background-color: rgba(199, 208, 217, 0.5);
    border-radius: 10px;
    &:hover {
      background-color: rgba(199, 208, 217, 0.8);
    }
  }
}
